body{
    /* display: flex; */
}

.main{
    display: flex;
    /* justify-content: ; */

}
h1{
    align-items: center;
    text-align: center;
}
.hero{
    display: flex;
    flex-direction: column;
    gap: 3px;
}
h1::first-letter{
    color: red;
}
.con{
    margin: auto;
    /* height: 250px; */
    width: 500px;
    border: 2px black solid;
    padding: 10px;
    border-radius: 7px;
    /* background-color:rgb(255, 240, 107); */
}
.content{
    /* border: 1px red solid; */
    padding: 5px;
    background-color: #ffe3e3;

    
}
.btn{
    display: flex;
    margin-top: 25px;
    align-self: center;
    justify-self: center;
    gap:10px;

}
button{
    all: unset;
    /* padding: 2px; */
    text-align: center;
    border: 1px black solid;
    height: 35px;
    width: 125px;
    border-radius: 5px;
    background-color:red;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}
.adm{
    all: unset;
    display: block;
    /* padd */
    /* place-self:center; */
    /* padding: 2px; */
    text-align: center;
    border: 1px black solid;
    height: 35px;
    width: 115px;
    border-radius: 5px;
    background-color:red;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    /* padding-top: 10px; */
    display: flex;
   
    align-items: center;
    justify-content: center;
}
li{
    margin: 5px;
    /* all:unset; */
}
.form{
    display: none;
}
.vis{
    display: unset;
}